body {
  background-color: #b1b1b1;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}

.output {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.output__image {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.output__word {
  letter-spacing: 0.5em;
}

.output__theme {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  gap: 20px 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.btn {
  display: block;
}

.attemp-1,
.attemp-2,
.attemp-3,
.attemp-4,
.attemp-5,
.attemp-6 {
  display: none;
}

.attemp-1.active,
.attemp-2.active,
.attemp-3.active,
.attemp-4.active,
.attemp-5.active,
.attemp-6.active {
  display: block;
}